#app{
    .overlay{
        .top{
            .close{
                .icon-right(url('@{theme-img-path}close.png'), 24px, 34px);
                width: auto !important;
                font-family: @font-family-base !important;
                background-color: #000;
                font-size: @font-size-base !important;
            }
        }
        .middle{
            .content{
                padding-top: @padding-medium-vertical;
                
                h1{
                    margin: 0 0 0 0;
                    border-bottom: 1px solid @gray-light;
                }
            }
        }
    }
}