@brand-primary:                 #7FABB7;
@brand-secondary:               #ffb81d;
@link-color:                    #7FABB7;
@scrollbar-thumb-color:         #7FABB7;
@panel-border:                  1px solid @panel-border-color;
@btn-focused-border:            lightskyblue;
@gray-darker:                   lighten(#000, 13.5%);
@panel-dark-bg:                 #1f1f1f;
@scrollbar-track-color:         @gray;